/* You can add custom styles here. */

// @import "plugins/numbered";
.book-menu nav{
    border-right: 1px solid #f3f3f3;
}

.book-brand img {
    height: 1.1em;
    vertical-align: top;
}

// .book-languages img {
//     height: 1em;
//     margin-right: .5rem;
// }