<span class="element"></span>


<div class="text-editor-wrap">
  <div class="title-bar">
    <div class="position-absolute">
      <div class="d-inline-block circle bg-white mr-1" style="width: 12px; height: 12px; opacity: 0.1;"></div>
      <div class="d-inline-block circle bg-white mr-1" style="width: 12px; height: 12px; opacity: 0.1;"></div>
      <div class="d-inline-block circle bg-white mr-1" style="width: 12px; height: 12px; opacity: 0.1;"></div>
    </div>
    <span class="title">Terminal</span>
  </div>
  <div class="text-body">
    <div>
      Welcome to Language version 1.0(default, Fri Mar 20 00:59:47 CST 2020)
    </div>
    <div>
      Type :help for assistance.
    </div>
    1> <span id="typed"></span>
  </div>
</div>

<script>
  var typed6 = new Typed('#typed', {
    strings: ['npm install^1000\n `installing components...` ^1000\n `Fetching from source...`'],
    typeSpeed: 40,
    backSpeed: 0,
  });
    
</script>